{% extends 'base.html' %}
{% load static i18n crispy_forms_tags %}
{% block content %}


<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                {% if object_list %}
                <div class="table-responsive">
                    <table class="table table-bordered table-hover border" style="width:100%;">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> name </th>
                                <th> year </th>
                                <th> author </th>price
                                <th> price </th>
                                {% if request.user.is_superuser %}<th> Actions </th>{% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in object_list %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td> {{object.title}}</td>
                                <td> {{object.year}} </td>
                                <td> {{object.author}} </td>
                                <td> {{object.price}} </td>
                                {% if request.user.is_superuser %}
                                <td>
                                    <a href="{{object.get_absolute_url}}" class="btn btn-sm btn-circle btn-primary"><i class="mdi mdi-eye"></i></a>
                                    <a href="{{object.get_update_url}}" class="btn btn-sm btn-circle btn-info"><i class="mdi mdi-pencil"></i></a>
                                    <a href="{{object.get_delete_url}}" class="btn btn-sm btn-circle btn-danger"><i class="mdi mdi-delete"></i></a>
                                </td>
                                {% endif %}
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% comment %} {% else %}
                <small class="mb-0">No {% get_verbose_name object_list.0 %} exists.</small> {% endcomment %}
                {% endif %}
            </div>
        </div>
    </div>

</div>

{% endblock %}